.admin-wrapper {
  text-align: center;
  height: calc(97vh - 100px); 
  min-height: auto;
  background-image: url('../Images/email-pattern.png'); /* Ruta local del patrón */
  background-size: 150px; /* Ajusta el tamaño del patrón según tu preferencia */
  background-repeat: repeat; /* Repetir el patrón */
  background-color: #f5f5f0; /* Blanco beige (opcional) */
}

  
  .admin-title {
    color: #a47551;
    font-size: 4rem;
    margin-bottom: 40px;
    padding: 90px;
  }
  
  .honeycomb-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los hexágonos */
    align-items: flex-start; /* Alinea los hexágonos al inicio */
    max-width: 1000px; /* Aumentar el ancho máximo del contenedor */
    margin: 0 auto; /* Centra la cuadrícula */
    gap: 50px; /* Espacio entre hexágonos */
  }
  
  .hexagon {
    width: 200px; /* Ancho del hexágono */
    height: 220px; /* Altura del hexágono */
    background-color: #a47551; /* Color café */
    position: relative;
    margin: 5px; /* Espacio entre hexágonos */
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1rem; /* Aumentar el tamaño del texto */
    font-weight: bold;
    border: 5px solid #8b6140; /* Añadir un borde alrededor del hexágono */
    padding: 10px; /* Espacio interno dentro del hexágono */
  }
  
  .hexagon p {
    margin: 0;
  }
  
  .hexagon:hover {
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el mouse */
    transition: transform 0.3s ease;
  }
  