.kabimate-header {
  text-align: center;
  font-size: 1.8rem;
  color: #ffffff;  /* Mantener el color blanco */
  margin: -6px;
  font-family: 'Montserrat', sans-serif;  /* Fuente gruesa */
  font-weight: 700;  /* Hacerla más gruesa */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  /* Sombra suave */
}


/* Apartado principal */
.main-sidebar {
  background-color: #a47551; 
  transition: transform 0.3s ease;
}

/* Cuando el aside tiene la clase 'scrolled' */
.main-sidebar.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Ajusta según el ancho de tu sidebar */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra para el efecto de flotar */
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  background-color: #8b5b48;
}

.form-control-sidebar {
  color: #ffffff;
}

.form-control-sidebar::placeholder {
  color: #ffffff;
}
