/* Estilos para el footer */
.main-footer {
  background-color: #a47551; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 15px; /* Espaciado interno */
  text-align: center; /* Centra el contenido */
  position: relative; /* Asegura que el footer esté al final */
  bottom: 0; /* Lo coloca en la parte inferior de la página */
  margin-top: auto; /* Permite que el footer se quede al final si el contenido es corto */
}

.main-footer strong {
  font-weight: bold; /* Hace el texto más prominente */
}

.main-footer .float-right {
  float: right; /* Mueve el texto de la derecha */
}

.main-footer .float-right b {
  font-weight: bold; /* Negrita para la palabra "Version" */
}

@media (max-width: 768px) {
  .main-footer {
    padding: 10px; /* Menos espaciado en pantallas pequeñas */
  }

  .main-footer .float-right {
    float: none; /* El contenido flotante se centra en pantallas pequeñas */
    text-align: center;
    margin-top: 10px;
  }
}
