/* Fondo general de la página */
.home-habitacion-container {
  padding: 20px;
  background-color: #f5f5f0; /* Fondo claro */
  background-image: url("../Images/email-pattern.png");
  background-size: 150px;
  min-height: 100vh; /* Asegura que el fondo cubra toda la altura */
  font-family: "Arial", sans-serif;
  color: #333;
}

/* Contenedor de filtros */
.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* Estilo para el input de búsqueda */
.search-input {
  padding: 10px;
  width: 280px;
  border: 1px solid #a47551;
  border-radius: 8px;
  background-color: white;
  color: #333;
  font-size: 16px;
}

.search-input::placeholder {
  color: #a47551; /* Café para el texto del placeholder */
}

.input-filters {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Botones de filtro */
.button-filters {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.filter-button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  opacity: 0.8;
}

.disponible {
  background-color: #4caf50;
}

.ocupado {
  background-color: #f44336;
}

.mantenimiento {
  background-color: #ff9800;
}

.reset {
  background-color: #607d8b;
}

/* Contenedor de las cartas */
.habitacion-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Contenedor de la carta */
.habitacion-card-container {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s ease;
}

/* Estilo de cada carta de cabaña */
.habitacion-card {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.habitacion-card-container:hover {
  transform: scale(1.05);
  -webkit-transform: scale();
  -moz-transform: scale();
  -ms-transform: scale();
  -o-transform: scale();
}

.habitacion-card:hover {
  transform: translateY(-5px); /* Efecto hover para las cartas */
}

.hotel-icon {
  display: flex;
  justify-content: center;
  align-items: center; /* Asegura que la imagen esté centrada vertical y horizontalmente */
  margin-bottom: 15px;
  height: 150px; /* Altura fija para que el contenedor no cambie de tamaño */
  background-image: url("../Images/hotel.jpg");
  background-size: cover;
  background-position: center;
}

.hotel-icon img {
  max-width: 100%; /* Hace que la imagen ocupe todo el espacio disponible sin deformarse */
  max-height: 100%;
  object-fit: contain; /* Asegura que la imagen se ajuste sin perder proporciones */
}

.no-image-message {
  font-size: 14px;
  color: #888;
  text-align: center;
  font-style: italic;
}

.habitacion-card-body h5 {
  font-size: 22px;
  font-weight: bold;
  color: #a47551;
}

.habitacion-card-body {
  font-size: 15px;
  line-height: 1.5;
}

.habitacion-card-body p {
  margin-bottom: 10px;
}

/* Mensaje de no encontrar cabañas */
.cabana-cards-container p {
  font-size: 18px;
  color: #888;
  text-align: left;
}

.justify-text {
  text-align: justify;
}

.left-align {
  text-align: left;
}

.filter-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}



.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
