/* Fondo general de la página */
.home-cabana-container {
  padding: 20px;
  background-color: #f5f5f0; /* Fondo claro */
  background-image: url("../Images/email-pattern.png");
  background-size: 150px;
  min-height: 100vh; /* Asegura que el fondo cubra toda la altura */
  font-family: "Arial", sans-serif;
  color: #333;
}

/* Contenedor de filtros */
.filters {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.search-input {
  padding: 10px;
  width: 280px;
  border: 1px solid #a47551;
  border-radius: 8px;
  background-color: white;
  color: #333;
  font-size: 16px;
}

.search-input::placeholder {
  color: #a47551;
}

.input-filters {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Botones de filtro */
.button-filters {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.filter-button {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  opacity: 0.8;
}

.disponible {
  background-color: #4caf50;
}

.ocupado {
  background-color: #f44336;
}

.mantenimiento {
  background-color: #ff9800;
}

.reset {
  background-color: #607d8b;
}

/* Contenedor de las cartas */
.cabana-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Contenedor de la carta */
.cabana-card-container {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s ease;
}

.cabana-card-container:hover {
  transform: scale(1.05);
}

/* Estilo de cada carta de cabaña */
.cabana-card {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.cabana-card:hover {
  transform: translateY(-5px);
}

.cabana-icon {
  display: flex;
  justify-content: center;
  align-items: center; /* Asegura que la imagen esté centrada vertical y horizontalmente */
  margin-bottom: 15px;
  height: 150px; /* Altura fija para que el contenedor no cambie de tamaño */
  background-image: url("../Images/cabana.png");
  background-size: cover;
  background-position: center;
}

.cabana-icon img {
  max-width: 100%; /* Hace que la imagen ocupe todo el espacio disponible sin deformarse */
  max-height: 100%;
  object-fit: contain; /* Asegura que la imagen se ajuste sin perder proporciones */
}

.no-image-message {
  font-size: 14px;
  color: #888;
  text-align: center;
  font-style: italic;
}

.cabana-card-body h5 {
  font-size: 22px;
  font-weight: bold;
  color: #a47551;
}

.cabana-card-body {
  font-size: 15px;
  line-height: 1.5;
}

.cabana-card-body p {
  margin-bottom: 10px;
}

/* Mensaje de no encontrar cabañas */
.cabana-cards-container p {
  font-size: 18px;
  color: #888;
  text-align: center;
}

.justify-text {
  text-align: justify;
}

.left-align {
  text-align: left;
}

.filter-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.filter-input {
  padding: 8px;
  width: 100px;
  border: 1px solid #a47551;
  border-radius: 8px;
  font-size: 14px;
}

/* Estilos adicionales para el filtro */
/* Ajusta las columnas para que los filtros estén más juntos */
.filters .col-md-3 {
  margin-bottom: 14px; /* Reducir el margen entre los filtros */
}

/* También puedes ajustar los inputs para que se vean más pequeños y más juntos */
.form-control {
  padding: 8px; /* Menos padding para hacerlo más compacto */
  font-size: 14px; /* Reducir tamaño de fuente */
  width: 100%; /* Asegúrate de que los inputs ocupen todo el ancho de la columna */
}

.filters input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 180px;
  margin-right: 10px;
}
