html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f5f5f0;
}

.container-fluid {
  height: calc(97vh - 100px);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../Images/email-pattern.png");
  background-size: 150px;
  background-color: #f5f5f0;
}

.table-custom thead th {
  background-color: #a47551; /* Fondo del encabezado */
  color: white;
  text-align: center;
  border: 1px solid #a47551; /* Borde entre encabezados */
}

.table-custom tbody td {
  text-align: center;
  border: 1px solid #ddd; /* Borde de las celdas */
}

.card-container {
  background-color: #ffffff;
  border: 1px solid #a47551;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container h2 {
  color: #a47551;
  font-weight: bold;
}

.btn-custom {
  margin-right: 5px; /* Espacio entre botones */
}

.btn-cafe {
  background-color: #a47551;
  border-color: #a47551;
  color: white;
}

.btn-cafe:hover {
  background-color: #8a5c3d;
  border-color: #8a5c3d;
}
