/* Fondo de la página */
.login-container {
  background-image: url("../Images/email-pattern.png");
  background-size: 150px;
  background-repeat: repeat;
  background-color: #6e6e48;
  box-sizing: border-box;
  min-height: calc(88vh - 1px);
  animation: backgroundMove 5s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  text-align: center;
}

/* Animación de fondo */
@keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 150px 150px;
  }
}

.login-header {
  font-size: 4rem;
  color: #a47551;
  text-align: center;
  font-family: "Montserrat", sans-serif; /* Fuente gruesa */
  font-weight: 700; /* Asegura que la fuente esté en negrita */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
}

/* Estilo general del formulario */
.login-form {
  background: white;
  padding: 40px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 450px;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Título del formulario */
.login-form-subtitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #a47551;
  font-family: "Montserrat", sans-serif; /* Fuente gruesa */
  font-weight: 700; /* Asegura que la fuente esté en negrita */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* Icono dentro del campo de entrada */
.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #a47551;
  pointer-events: none;
}

/* Estilo del input */
.login-input {
  padding-left: 40px; /* Espacio para el icono */
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: all 0.3s ease;
  min-width: 250px;
}

.login-input:focus {
  border-color: #a47551;
  box-shadow: 0 0 8px rgba(139, 97, 64, 0.6);
}

.login-input:hover {
  border-color: #8b6140;
  box-shadow: 0 0 8px rgba(139, 97, 64, 0.6);
}

/* Estilos para el mensaje de error */
.error-text {
  color: red;
  font-size: 1rem;
  text-align: left;
  width: 100%;
}

/* Responsividad */
@media screen and (max-width: 768px) {
  .login-form {
    padding: 30px;
    max-width: 100%;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .login-input {
    width: 100%;
  }

  .icon {
    margin-bottom: 10px;
  }
}

/* Estilos para el botón de login */
.button {
  padding: 12px;
  background-color: #a47551;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  max-width: 320px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: background-color 0.5s ease, transform 0.5s ease;
  -moz-transition: background-color 0.5s ease, transform 0.5s ease;
  -ms-transition: background-color 0.5s ease, transform 0.5s ease;
  -o-transition: background-color 0.5s ease, transform 0.5s ease;
}

.button:hover {
  background-color: #5f3713;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}



/* Spinner de carga */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #a47551;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Modal de bienvenida */
.modal-Login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Estilo para el contenedor del campo de contraseña */
.input-group {
  position: relative;
}

/* Estilo para el ícono de ojo */
.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #a47551;
  cursor: pointer;
  z-index: 10; /* Ajustar z-index para asegurar que esté por encima del input */
  pointer-events: auto; /* Asegura que el ícono sea interactuable */
}

/* Ajustar padding-right del input para que el ícono no se sobreponga */
input[type="password"],
input[type="text"] {
  padding-right: 35px;
}
