.reserva-page {
  display: flex;
  justify-content: center;
}

.reserva-form {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reserva-field-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.reserva-field {
  width: calc(25% - 11px);
}

.reserva-field label {
  display: block;
  margin-bottom: 5px;
}

.reserva-input {
  width: 60%; /* Cambiar a un porcentaje específico */
  padding: 6px; /* Reducir el padding si lo prefieres más pequeño */
  font-size: 14px; /* Ajustar el tamaño de la fuente si es necesario */
  margin-bottom: 10px;
}

.reserva-field-container .reserva-field:last-child {
  width: 100%;
}

/* Desactiva los eventos de puntero para todos los inputs con el atributo readonly */
input[readonly] {
  pointer-events: none; /* Evita clics y cambia el cursor */
}

/* Puedes agregar más estilos aquí si deseas personalizar aún más la apariencia */
.readonly-input {
  background-color: #f0f0f0; /* Cambia el color de fondo para distinguir los campos de solo lectura */
  cursor: not-allowed; /* Cambia el cursor para indicar que no es interactivo */
}

/* Estilo general del modal */
.modal-producto {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  z-index: 1000; /* Asegura que el modal se muestre sobre otros elementos */
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Estilo para el contenido del modal */
.modal-content-producto {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Títulos del modal */
.modal-content-producto h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

/* Estilo de los campos dentro del modal */
.modal-field-producto {
  display: flex;
  flex-direction: column;
}

.modal-field-producto label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.modal-field-producto select,
.modal-field-producto input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-field-producto input[type="number"] {
  -moz-appearance: textfield;
}

/* Estilo para los botones del modal */
.modal-actions-producto {
  display: flex;
  justify-content: space-between;
}

.modal-button-producto {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-button-producto:hover {
  background-color: #a47551;
  color: white;
}

.modal-button-cancel-producto {
  background-color: #f0f0f0;
  color: #333;
}

.modal-button-cancel-producto:hover {
  background-color: #e0e0e0;
}

/* Modal cuando está visible */
.modal-producto.show {
  display: flex; /* Usamos flex para centrar el contenido */
}

.reserva-actions {
  display: flex;
  justify-content: flex; /* Alinea los botones a la derecha */
  gap: 10px; /* Agrega un espacio entre los botones */
  margin-top: 20px; /* Añade un espacio en la parte superior */
}

/* Estilos comunes para los botones */
.reserva-button {
  padding: 10px 30px;
  font-size: 1rem;
  border: 2px solid #a47551;
  background-color: transparent;
  color: #a47551;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Efecto hover para los botones */
.reserva-button:hover {
  background-color: #a47551;
  color: white;
}

/* Estilo general para la tabla */
.reserva-table-detalle-producto {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 20px 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilo para los encabezados de la tabla */
.reserva-table-detalle-producto thead th {
  background-color: #a47551;
  color: white;
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
  font-weight: bold;
  font-size: 14px;
}

/* Estilo para las filas del cuerpo */
.reserva-table-detalle-producto tbody tr {
  border-bottom: 1px solid #ddd;
}

.reserva-table-detalle-producto tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Color de fondo alternativo */
}

.reserva-table-detalle-producto tbody tr:hover {
  background-color: #e0f7fa; /* Efecto hover */
}

/* Estilo para las celdas */
.reserva-table-detalle-producto td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 13px;
  color: #333;
}

/* Estilo para los botones dentro de la tabla */
.reserva-table-detalle-producto .reserva-button {
  background-color: #a47551;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.reserva-table-detalle-producto .reserva-button:hover {
  background-color: #a47551;
}
